@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.Main{
  /* margin-top: 15px; */
  padding: 20px 30px;
  background-color: rgb(230, 236, 236);
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: 'Roboto Slab', serif;

  
}
.Main span{
  font-size: 20px;
}
.Balance_div{
  /* background-color: aqua; */
  margin-top: 15px;
  margin-bottom: 5px;
}
.Balance_div span{
  font-size: 25px;
}
.Balance_div h4{
  font-size: 14px;
}

.Data_Inc_Exp{
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  padding: 6px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Data_Inc_Exp .Income{
  margin: 0px 15px;
  padding: 10px 0px;
}

.Data_Inc_Exp .Expense{
  margin: 0px 15px;
  /* background-color: rgb(189, 131, 131); */
  padding: 10px 0px;
}

/* History */
.History{
  margin-bottom: 25px;
}


.List{
  margin-top: 7px;
  display: flex;
  background-color: aliceblue;
  padding: 5px 5px;
  justify-content: space-between;
  margin-bottom: 4px;
  border-right: 5px solid red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}



/* Form */
.Form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Form .Text_div{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.Form .Text_div label {
  font-size: 18px;
  margin-bottom: 5px;
}
.Form .Text_div input{
  margin-bottom: 7px;
  padding: 5px;
}
.Form .amount_div span{
  font-size: 15px;
  margin-bottom: 5px;
}
.Form .amount_div input{
  margin-bottom: 7px;
  padding: 5px;
  width: 100%;
  margin-top: 7px;
}
.Form .Addbtn{
  margin-top: 15px;
  padding: 10px;
  background-color: blanchedalmond;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}